.wrapper{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white !important;
    font-weight: bold;
    border: 1px solid #f1f1f1;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 20px;
}

