.footerA {
    margin-top: 50px;
    padding: 16px;
    background-color: white;
    height: 1400px;
    /* width: 100%; */
    font-family: 'Coda Caption', sans-serif;
    /* height: 100%; */
}

.footerA .title {
    /* text-align: center; */
    color: black
}

.footerA .photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.footerA .content {
    /* text-align: center; */
    margin-left: 80px;
    margin-right: 80px;
}

.footerA .firstLeter {
    font-family: 'Notable', sans-serif;
    color: rgb(255, 208, 0);
    font-size: larger;
}